<div class="container">

  <div class="jumbotron">
    <h1>Pokemon Bazaar</h1>
  </div>
  <hr>
  <p><%= link_to "Add a new card", new_product_path, id: "ajax_new_card", class: "btn btn-primary", remote: true %></p>
  <hr>
  <div class="cards" id="new_cards">
     <% @products.each do |product| %>
     <div class="card_product" id="annie<%= product.id %>">
       <%= render product %>
      </div>
    <% end %>


  </div>

</div>
