<div class="container">

<div class="jumbotron">
  <h1>Pokemon Bazaar</h1>
</div>
<hr>
<h2>Products</h2>

<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.name, product_path(product) %></li>
  <% end %>
</ul>

<p><%= link_to "Add a new product", new_product_path %></p>

</div>
